body{
    font-family: Arial, sans-serif;
    
}

.Profile{
    width: 650px; /*กำหนดความกว้าง*/
    margin: 30px auto; /*ขอบบน-ล่าง 30px*/ /*จัดหน้าจอแนวนอน*/
    background: white;
    padding: 20px; /*ระยะห่าง*/
    border: 5px solid black; /*ขอบดำ*/
    display: flex; /*จัดองค์ประกออบแนวนอน*/
    flex-wrap: wrap; /*กันขอบล้น*/
}

img{
    border-radius: 60%; /*ทำให้ภาพกลม*/
}

.Image{
    width: 30%;
    text-align: center; 
    padding: 20px;
}

.name{
    margin: 20px;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  font-size: 30px;
}

.skill{
  font-size: 20px;
  margin-right: 20%;
  
}

.about{
    margin-right: 10%; /*ระยะห่างด้านขวา*/
    background-color: aquamarine; /*สีพื้นหลัง จะใส่หรือไม่ก็ได้*/
    margin-top: 10px; /*ระยะห่างด้านบน*/

}

.AS{
    display: flex; /*ทำให้หัวข้อ About กับ Skill อยู่บรรทัดเดียวกัน*/
    justify-content: space-between; /*About อยู่ด้านซ้ายสุด ส่วน Skill อยู่ขวาสุด*/
    align-items: flex-start; /*หัวข้อทั้งสองอยู่ขนานกัน*/
    margin-top: 20px;
}

.skills {
    width: 48%;
}

.contact{
    margin-top: -5%;
}

